* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0 auto;
  background-color: #F3F4FF;
}
/* Google Font Inter */

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Google Font Raleway */

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.btn button {
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #4e47ff;
  padding: 12px 36px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}
.btn button:hover {
  color: black;
  background-color: yellow;
  padding: 12px 36px;
  border: none;
  cursor: pointer;
  border-radius: 0px;
  font-family: "Raleway", sans-serif;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.text-primary {
  color: #4e47ff;
}
.text-center {
  text-align: center;
}
header {
  background-image: url(../images/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.content-area {
  display: flex;
  justify-content: space-between;
}
nav {
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px 0px;
}

.logo a {
  font-size: 34px;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-weight: 700;
}
.banner-content h2 {
  font-size: 65px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  columns: #252432;
  margin-bottom: 38px;
}
.banner-content {
  padding: 110px 140px;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin: 90px 0px;
}
.action-content {
  display: flex;
  gap: 250px;
  justify-content: space-between;
  align-items: center;
}
.action-column h3 {
  font-size: 42px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #252432;
  margin-bottom: 23px;
}
.action-column p {
  color: #252432;
  font-size: 24px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  margin-bottom: 23px;
}
.action-column img {
  border-radius: 50px;
}
