* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0 auto;
  background-color: #f5f8ff;
}
/* Google Font Inter */

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Google Font Raleway */

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* share style */
.btn button {
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #4e47ff;
  padding: 12px 36px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}
.btn button:hover {
  background-color: rgb(112, 101, 206);
  font-family: "Raleway", sans-serif;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.text-primary {
  color: #4e47ff;
}
.text-center {
  text-align: center;
}
/* here is header area */
header {
  background-image: url(../images/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.content-area {
  display: flex;
  justify-content: space-between;
}
/* navber */
nav {
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px 0px;
}

.logo a {
  font-size: 34px;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-weight: 700;
}
.banner-content h2 {
  font-size: 65px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #252432;
  margin-bottom: 38px;
}
.banner-content {
  padding: 110px 140px;
}
/* here is main area */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin: 90px 0px;
}
/* here is action area */
.action-content {
  display: flex;
  gap: 250px;
  justify-content: space-between;
  align-items: center;
}
.action-column h3 {
  font-size: 42px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #252432;
  margin-bottom: 23px;
}
.action-column p {
  color: #8d8e98;
  font-size: 24px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  margin-bottom: 23px;
}
.action-column img {
  border-radius: 50px;
}
/* here is user area */
.user-area {
  background-color: #e5e7ff;
  border-radius: 25px;
  padding: 50px 0px;
}
.user-content {
  display: flex;
  padding: 0px 140px;
  justify-content: space-between;
}

.user-title h3 {
  font-size: 38px;
  font-weight: bold;
  color: #252432;
  font-family: "Raleway", sans-serif;
  margin-bottom: 30px;
}
.user-content h3 {
  font-size: 80px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}
.user-count span {
  font-size: 20px;
  font-weight: 400;
  color: #72737f;
}
/* here is review area */
.review-area {
  padding: 80px 0;
}
.review-title h3 {
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  font-family: "Raleway", sans-serif;
  margin-bottom: 50px;
}
.review-content {
  display: flex;
  gap: 20px;
}
.review-inner-content {
  background-color: white;
  padding: 24px;
  border-radius: 15px;
  border: 1px solid #ece4e4;
}
.star-icon {
  margin-bottom: 24px;
}
.review-inner-content h4 {
  font-size: 28px;
  font-weight: bold;
  color: #252432;
  font-family: "Raleway", sans-serif;
  margin-bottom: 18px;
}
.review-inner-content p {
  color: #1e1e1e;
  font-size: 20px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  margin-bottom: 25px;
}
.reviewer-details {
  display: flex;
}
.reviewer-img img {
  border-radius: 50%;
  padding-right: 12px;
}
.reviewer-details h5 {
  font-size: 20px;
  font-weight: 500;
  color: #757575;
  font-family: "Inter", sans-serif;
  margin-bottom: 5px;
}
.reviewer-details span {
  color: #b3b3b3;
  font-size: 18px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}
/* here is focus area */
.focus-area {
  background-color: white;
  padding: 70px 0px;
  border-radius: 15px;
}
.focus-title h3 {
  font-size: 50px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #000000;
  margin-bottom: 23px;
}
.focus-content p {
  color: #8d8e98;
  font-size: 20px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  margin-bottom: 23px;
}
.focus-img img {
  margin-top: 25px;
  border-radius: 50px;
}
/* here is lets tuch area */
.lets-tuch-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: -85px;
}
.lets-tuch-column h3 {
  font-size: 90px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #000000;
  margin-bottom: 23px;
}
.lets-tuch-column label {
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  margin-bottom: 10px;
  display: block;
}

.lets-tuch-column input[type="email"] {
  height: 50px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  border-radius: 10px;
  background-color: #fff;
  width: 123%;
  display: block;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: 1px solid #ece4e4;
}
.lets-tuch-column input[type="text"] {
  height: 50px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  border-radius: 10px;
  background-color: #fff;
  width: 123%;
  display: block;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: 1px solid #ece4e4;
}
.lets-tuch-column textarea {
  height: 100px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  border-radius: 10px;
  background-color: #fff;
  width: 123%;
  display: block;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: 1px solid #ece4e4;
}
/* here is form area */
form input[type="submit"] {
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #4e47ff;
  width: 136%;
  padding: 20px 36px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}
form input[type="submit"]:hover {
  background-color: rgb(112, 101, 206);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

/* here is footer area */
footer {
  background-color: white;
  border-top: 1px solid #ece4e4;
}
.footer-area {
  max-width: 1140px;
  margin: 0 auto;
}
.footer-content {
  padding: 100px 250px;
}
.footer-logo a {
  font-size: 65px;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-weight: 700;
}
.footer-logo p {
  color: #8d8e98;
  font-size: 20px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  margin-top: 30px;
  margin-bottom: 20px;
}
.footer-links ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.footer-links ul li a {
  color: #8d8e98;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  padding: 10px 15px;
}
.footer-links ul li a:hover {
  color: #4e47ff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
